:root {
    --dark: #343838;
    --mdark: #005F6B;
    --mid: #008C9E;
    --mlight: #00B4CC;
    --light: #00DFFC;
    --white: #ddd;
}

html {
    background-color: var(--dark);
}

body {
    color: var(--white);
    width: 50vw;
    margin-left: 25vw;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.diagonal-box {
    background-image: linear-gradient(45deg, var(--mdark), var(--mid));
    position: fixed;
    width: 46vw;
    transform: skewY(-11deg);
    padding: 2vw;
}

.diagonal-text {
    margin: 0;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 2vw;
}

a {
    color: var(--mlight);
    text-decoration: none;
}

a:hover {
    color: var(--mid);
}

.button {
    width: 50vw;
    border: 0.2vw solid var(--mid);
    color: var(--white);
    background-color: var(--dark);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3vw;
    padding: 1vw;
    transform: skewY(-11deg);
    cursor: pointer;
}

.button:hover {
    background-color: var(--mid);
}

h1 {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 2vw;
}

.spacer {
    height: 9vw;
}

.module {
    padding: 1vw 2vw;
    transform: skewY(-11deg);
}

.left {
    background-image: linear-gradient(45deg, var(--mid), var(--mdark));
    padding: 0.5vw 1.5vw;
    text-align: left;
}

.right {
    padding: 0.5vw 1.5vw;
    text-align: right;
}

.highlight {
    background-color: var(--mid);
    color: var(--dark);
    box-shadow: 0.5vw 0.5vw var(--white);
}

@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 800px) {
}
